includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon

parameters:
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		- '#Call to an undefined method ReflectionType::getName\(\).#'
		- '#Cannot call method getParentClass\(\) on ReflectionClass\|null.#'
		- '#Cannot access property \$name on ReflectionClass\|false.#'
		- '#Cannot access property \$name on ReflectionClass\|null.#'
