includes:
	- vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
	- vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon

parameters:
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		- '#Call to an undefined method ReflectionType::getName\(\).#'
		- '#Cannot call method getParentClass\(\) on ReflectionClass\|null.#'
		- '#Cannot access property \$name on ReflectionClass\|null.#'
